@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<p>Dit is een website bestemd voor de campusverantwoordelijke van de KdG Campus Zuid. 
    Het staat toe om de uitzondering van de Toegangs Controle (TGC) te beheren zodat dit niet manueel moet gedaan worden. Het resultaat van de website is een SQL View die uitgelezen wordt door de TGC. <br />
    Deze website werd gemaakt in opdracht van Piet Boedt voor het vak Integratieproject 2 in samenwerking met Thierry Loreyn (Afgevaardigde IT Afdeling) en Alain Müsing (Campusverantwoordelijke). De opdracht werd vervult door Stéphane Boogaerts en Josse De Witte</p>
