@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>
<h3>@ViewBag.Message</h3>

<address>
    Campus Zuid - KdG<br />
    Brusselstraat 45, 2018 Antwerpen<br />
    <abbr title="Phone">P:</abbr>
    03 613 13 13
</address>

<address>
    <strong>Ontwikkelaars</strong>
    <br />
    <p>Josse De Witte: <a href="mailto:Support@example.com">josse.dewitte@gmail.com</a></p>
    <p>Stéphane Boogaerts: <a href="mailto:Marketing@example.com">stephane.boogaerts@student.kdg.be</a></p>
</address>